







# Ausnahme: Diese Icons als normale Git-Dateien (nicht LFS)
common/scenes/board_logic/controller/icons/star.png !filter !diff !merge
plugins/items/coinmagnet/icon.png !filter !diff !merge
plugins/items/luckydice/icon.png !filter !diff !merge
plugins/items/shield/icon.png !filter !diff !merge
plugins/items/teleporter/icon.png !filter !diff !merge
plugins/items/thiefglove/icon.png !filter !diff !merge
